<div style="display: flex; justify-content: space-between;">
  <a routerLink="">
    <h1 style="">Astrodrop</h1>
  </a>

  <div style="margin-top: 40px;">
    <a style="margin-right: 10px;" routerLink="/profile/{{wallet.userAddress}}" *ngIf="wallet.connected">
      My profile
    </a>
    <button (click)="connectWallet()">
      <div *ngIf="wallet.connected">
        {{wallet.userAddress.substring(0, 14)}}
      </div>
      <div *ngIf="!wallet.connected">
        Connect Wallet
      </div>
    </button>
  </div>
</div>