<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand mr-auto" routerLink="">Astrodrop</a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/profile/{{ wallet.userAddress }}"
          *ngIf="wallet.connected"
        >
          My profile
        </a>
      </li>
    </ul>

    <button
      class="btn btn-primary"
      type="button"
      (click)="connectWallet()"
    >
      <div *ngIf="wallet.connected">
        {{ wallet.userAddress.substring(0, 14) }}
      </div>
      <div *ngIf="!wallet.connected">Connect Wallet</div>
    </button>
  </div>
</nav>
