<h1>Create Airdrop</h1>

<ng-container *ngIf="step == 1">
  <h2>Step 1/5: Specify the token to be airdropped</h2>

  <label for="tokenAddress">Address of the airdropped token</label>
  <input type="text" id="tokenAddress" [(ngModel)]="tokenAddressInput">

  <button (click)="clickConfirmToken()">Confirm</button>
</ng-container>

<ng-container *ngIf="step == 2">
  <h2>Step 2/5: Enter recipient addresses and airdrop amounts</h2>

  Format:
  <pre>
{{ '{' }}
  "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045": "420.69",
  "0x46e01e73074937FEFb4104B5597Df32370172f86": "1234.5678",
  ...
{{ '}' }}
  </pre>

  <p>
    The airdrop amounts should be in decimal, and the number of decimals should not exceed the maximum supported by the
    airdropped token.
  </p>

  <textarea style="height: 10em;" [(ngModel)]="balancesInput"></textarea>

  <button (click)="clickParseBalances()">Parse data</button>

  <pre *ngIf="canContinue">
Success!
Total airdrop amount: {{totalAirdropAmount}} {{tokenSymbol}}
Number of recipients: {{numRecipients}}
  </pre>
</ng-container>

<ng-container *ngIf="step == 3">
  <h2>Step 3/5: Publish your Astrodrop page to IPFS</h2>

  <div>
    <button (click)="clickUpload()">Publish</button>
  </div>

  <p *ngIf="uploadingIPFSFiles">Publishing... ({{uploadIPFSFilesPercentage * 100}}%)</p>

  <a routerLink="/claim/{{rootIPFSHash}}" *ngIf="rootIPFSHash">Your Astrodrop page</a>
</ng-container>

<ng-container *ngIf="step == 4">
  <h2>Step 4/5: Deploy airdrop smart contract</h2>

  <div>
    <button (click)="clickDeploy()">Deploy</button>
  </div>
</ng-container>

<ng-container *ngIf="step == 5">
  <h2>Step 5/5: Last steps</h2>

  <p>
    Your Astrodrop contract is being deployed at <a target="_blank"
      href="https://rinkeby.etherscan.io/address/{{astrodropContractAddress}}">{{astrodropContractAddress}}</a>.
  </p>

  <p>
    Important note: You need to send the tokens to be airdropped ({{totalAirdropAmount}} {{tokenSymbol}}) to
    the Astrodrop contract.
  </p>

  <p>
    Your Astrodrop page is available <a routerLink="/claim/{{rootIPFSHash}}" *ngIf="rootIPFSHash">here</a>.
  </p>
</ng-container>

<div style="margin-top: 3em;" *ngIf="canContinue">
  <button style="float: right;" (click)="clickNext()">▶</button>
</div>