<h1>Create airdrop</h1>

<ng-container *ngIf="step == 1">
  <h2>Step 1/5: Specify the token to be airdropped</h2>

  <label for="tokenType">Token type</label>
  <select id="tokenType" [(ngModel)]="tokenTypeInput">
    <option value="20" selected>ERC-20</option>
    <option value="721">ERC-721</option>
  </select>

  <label for="tokenAddress">Token address</label>
  <input type="text" id="tokenAddress" [(ngModel)]="tokenAddressInput">

  <button (click)="clickConfirmToken()">Confirm</button>
</ng-container>

<ng-container *ngIf="step == 2">
  <ng-container *ngIf="tokenTypeInput === '20'">
    <h2>Step 2/5: Enter recipient addresses and airdrop amounts</h2>

    Format:
    <pre>
0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045,420.69
0x46e01e73074937FEFb4104B5597Df32370172f86,1234.5678
    </pre>

    <p>
      The airdrop amounts should be in decimal, and the number of decimals should not exceed the maximum supported by
      the
      airdropped token.
    </p>
  </ng-container>

  <ng-container *ngIf="tokenTypeInput === '721'">
    <h2>Step 2/5: Enter recipient addresses and airdrop token IDs</h2>

    Format:
    <pre>
0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045,2
0x46e01e73074937FEFb4104B5597Df32370172f86,10
    </pre>

    <p>
      Note: you can only airdrop a single NFT to each address.
    </p>
  </ng-container>

  <textarea style="height: 10em;" [(ngModel)]="balancesInput"></textarea>

  <button (click)="clickParseBalances()">Parse data</button>

  <pre *ngIf="canContinue">
Success!
Total airdrop amount: {{totalAirdropAmount}} {{tokenSymbol}}
Number of recipients: {{numRecipients}}
  </pre>
</ng-container>

<ng-container *ngIf="step == 3">
  <h2>Step 3/5: Publish your Astrodrop page to IPFS</h2>

  <label for="name">Astrodrop title</label>
  <input type="text" id="name" [(ngModel)]="nameInput">

  <label for="logoURL">Logo URL</label>
  <input type="text" id="logoURL" [(ngModel)]="logoURLInput">

  <label for="descriptionPreview">Logo preview</label>
  <img style="height: 128px;" [src]="logoURLInput" *ngIf="logoURLInput !== ''">

  <label for="description">Description</label>
  <textarea id="description" style="height: 10em;" [(ngModel)]="descriptionInput"></textarea>

  <label for="descriptionPreview">Description preview</label>
  <markdown id="descriptionPreview" [data]="descriptionInput" lineNumbers emoji katex></markdown>

  <div>
    <button (click)="clickUpload()">Publish</button>
  </div>

  <p *ngIf="uploadingIPFSFiles">Publishing... ({{uploadIPFSFilesPercentage * 100}}%)</p>

  <a routerLink="/claim/{{rootIPFSHash}}" *ngIf="rootIPFSHash">Your Astrodrop page</a>
</ng-container>

<ng-container *ngIf="step == 4">
  <h2>Step 4/5: Deploy airdrop smart contract</h2>

  <label for="expirationDate">Expiration time</label>
  <input type="date" id="expirationDate" [(ngModel)]="expirationDateInput">
  <input type="time" id="expirationTime" [(ngModel)]="expirationTimeInput">
  <br>
  <small>After the expiration time, you will be able to withdraw the unredeemed tokens.</small>

  <div>
    <button (click)="clickDeploy()">Deploy</button>
  </div>
</ng-container>

<ng-container *ngIf="step == 5">
  <h2>Step 5/5: Last steps</h2>

  <p>
    Your Astrodrop contract is being deployed at <a target="_blank"
      href="https://etherscan.io/address/{{astrodropContractAddress}}">{{astrodropContractAddress}}</a>.
  </p>

  <ng-container *ngIf="tokenTypeInput === '20'">
    <p>
      Important note: You need to send the tokens to be airdropped ({{totalAirdropAmount}} {{tokenSymbol}}) to
      your Astrodrop contract, so that the contract can distribute the tokens to the claimants.
    </p>
  </ng-container>

  <ng-container *ngIf="tokenTypeInput === '721'">
    <p>
      Important note: You need to give your Astrodrop contract approval to transfer your ERC-721 NFTs in order for the
      airdrop to be functional.
    </p>

    <p>
      <small>
        If the NFTs are owned by a different account than the one you're using right now (e.g. a multi-signature
        wallet), please call <code>setApprovalForAll(astrodropAddress)</code> on the NFT contract using that account.
      </small>
    </p>

    <button (click)="clickSetApprovalForAll()">Give approval</button>
  </ng-container>

  <p>
    Your Astrodrop page is available <a routerLink="/claim/{{rootIPFSHash}}" *ngIf="rootIPFSHash">here</a>.
  </p>
</ng-container>

<div style="margin-top: 3em;" *ngIf="canContinue">
  <button style="float: right;" (click)="clickNext()">▶</button>
</div>