<ng-container *ngIf="!finishedLoadingRoot">
  Loading...
</ng-container>
<ng-container *ngIf="finishedLoadingRoot">
  <img src={{remoteTree.metadata.logoURL}} style="height: 128px;">

  <h1 style="margin-top: 0%;">{{remoteTree.metadata.name}}</h1>

  <label for="claimAddressInput">Claimant address</label>
  <input id="claimAddressInput" type="text" (input)="claimAddress = $event.target.value">
  <button (click)="clickCheck()">Check</button>

  <ng-container *ngIf="finishedCheckingClaim && !claimed">
    <p>Claimable amount: {{claimableAmount}} {{claimTokenSymbol}}</p>
    <button (click)="clickClaim()">Claim</button>
  </ng-container>

  <p *ngIf="finishedCheckingClaim && claimed">
    This address has already claimed from this airdrop.
  </p>

  <markdown [data]="remoteTree.metadata.description" lineNumbers emoji katex></markdown>
</ng-container>