<ng-container *ngIf="!finishedLoadingRoot">
  Loading...
</ng-container>
<ng-container *ngIf="finishedLoadingRoot">
  <img src={{remoteTree.metadata.logoURL}} style="height: 128px;">

  <h1 style="margin-top: 0%;">{{remoteTree.metadata.name}}</h1>

  <a target="_blank" href="https://rinkeby.etherscan.io/address/{{remoteTree.metadata.contractAddress}}"><small>View
      smart contract on Etherscan</small></a>
  <br>
  <a target="_blank" href="https://rinkeby.etherscan.io/address/{{remoteTree.metadata.tokenAddress}"><small>View
      airdropped token on Etherscan</small></a>
  <br>
  <small>Expires at {{expirationTime}}</small>

  <label for="claimAddressInput">Claimant address</label>
  <input id="claimAddressInput" type="text" (input)="claimAddress = $event.target.value">
  <button (click)="clickCheck()">Check</button>

  <ng-container *ngIf="finishedCheckingClaim && !claimed">
    <ng-container *ngIf="remoteTree.metadata.tokenType === '20'">
      <p>Claimable amount: {{claimableAmount}} {{claimTokenSymbol}}</p>
    </ng-container>
    <ng-container *ngIf="remoteTree.metadata.tokenType === '721'">
      <p>Claimable NFT ID: {{claimableAmount}} of {{claimTokenSymbol}}</p>
    </ng-container>
    <button (click)="clickClaim()">Claim</button>
  </ng-container>

  <p *ngIf="finishedCheckingClaim && claimed">
    This address has already claimed from this airdrop.
  </p>

  <ng-container *ngIf="sweepEnabled">
    <p>
      It appears that you are the owner of this airdrop, and the airdrop has expired. You can sweep the unclaimed tokens
      into your wallet.
    </p>
    <button (click)="clickSweep()">Sweep</button>
  </ng-container>

  <markdown [data]="remoteTree.metadata.description" lineNumbers emoji katex></markdown>
</ng-container>