<h1>My profile</h1>

<h2>Eligible Astrodrops</h2>

<div class="grid-container">
  <div class="card-container" *ngFor="let drop of eligibleAstrodrops">
    <img src={{drop.logoURL}} style="height: 128px;">
    <a routerLink="/claim/{{drop.ipfsHash}}">{{drop.name}}</a>
  </div>
</div>

<h2>My Astrodrops</h2>

<div class="grid-container">
  <div class="card-container" *ngFor="let drop of createdAstrodrops">
    <img src={{drop.logoURL}} style="height: 128px;">
    <a routerLink="/claim/{{drop.ipfsHash}}">{{drop.name}}</a>
  </div>
</div>