<h2>Token airdrops for 212.5k gas</h2>

<p>
  Astrodrop uses Merkle trees to enable airdropping tokens to any number of accounts for the same cost: 212.5k gas.
</p>

<p>
  Astrodrop also allows users to view the list of astrodrops they are eligible for, so that
  you'll never miss a high-value airdrop again.
</p>

<p>
  Each astrodrop also comes with a customizable claim page, where users can claim their airdropped tokens and read more
  about the airdrop.
</p>

<button class="glow-on-hover centered" routerLink="create">
  GET STARTED
</button>